
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# xml comment analysis disabled
dotnet_diagnostic.SA0001.severity = none

[*.csproj]
indent_size = 2

[ValveSockets.cs]
generated_code = true
