[submodule "GameNetworkingSockets"]
	path = GameNetworkingSockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets.git
[submodule "Valve.Sockets.Regen"]
	path = Valve.Sockets.Regen
	url = https://github.com/copyrat90/Valve.Sockets.Regen.git
