
# vs & vscode editor settings
.vs/
.vscode/

# build output
build*/
out*/
[Bb]in/
[Oo]bj/

# Protobuf generated sources
**/Proto/*.pb.cc
**/Proto/*.pb.h
**/Proto/*.cs
!**/Proto/ProtoCompat.cs

# CMake
CMakeUserPresets.json

# Godot 4+ specific ignores
.godot/
/android/
